{% extends 'base.html' %}


{% block content %}
    <div class="row my-3">
        <table class="table">
            <thead>
                <tr>
                    <th>Книга</th>
                    <th>Статус</th>
                    <th>Дата отзыва</th>
                    <th>Оценка</th>
                    <th>Текст</th>
                </tr>
            </thead>
            <tbody>
                {% for rev in reviews %}
                <tr>
                    <td>{{ rev.book.name }}</td>
                    <td>{{ rev.status.name }}</td>
                    <td>{{ rev.created_at }}</td>
                    <td>
                        {% if rev.rating == 5 %}
                        <span>Отлично</span>
                        {% elif rev.rating == 4 %}
                        <span>Хорошо</span>
                        {% elif rev.rating == 3 %}
                        <span>Удовлетворительно</span>
                        {% elif rev.rating == 2 %}
                        <span>Неудовлетворительно</span>
                        {% elif rev.rating == 1 %}
                        <span>Плохо</span>
                        {% elif rev.rating == 0 %}
                        <span>Ужасно</span>
                        {% endif %}
                    </td>
                    <td>{{ rev.html_text |safe }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}